 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Discoverwanda</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="scss/main.css">-->
	<link rel="stylesheet" type="text/css" href="/static/a/style.css">
	<script src="js/jquery-3.1.0.min.js"></script>
</head>
<body>
	<div id="page">
	
		{{ form.as_p}}

	</div>

</body>
</html>